<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/stylesheets/style.css">
    <title>AW-SOME Organics</title>
</head>

<body>

    <!--landing page with nav bar and 100% width hero image that shows products and an about me section that tells you story of business idea-->
    <header class="bg-green-700">
        <div class="container mx-auto px-4">
            <nav class="flex items-center justify-between flex-wrap bg-green-800 p-6">
                <div class="flex items-center flex-shrink-0 text-white mr-6">
                    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
                    </svg>
                    <h1 class="font-semibold text-xl tracking-tight">AW-SOME</h1>
                </div>
                <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                    <tr class="text-sm lg:flex-grow">
                        <td>
                            <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                                Home
                            </a>
                            <a href="/products"
                                class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                                Products
                            </a>
                            <a href="contact_me"
                                class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                                Contact Me
                            </a>
                        </td>
                    </tr>
                </div>
                <button class="flex items-center">
                    <a href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white 
                        hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Login</a>
                </button>
            </nav>
        </div>
    </header>
    <!--100% width hero and then an about me section thats centered-->
    <main class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 p-4">
                <h2 class="text-3xl font-semibold">About Me</h2>
                <p class="text-gray-600 text-lg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quidem.
                </p>
                <p class="text-gray-600 text-lg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quidem.
                </p>
                <p class="text-gray-600 text-lg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quidem.
                </p>
            </div>
            <div class="w-full lg:w-1/2 p-4">
                <img src="/public/assets/img/all_product.jpg" alt="NATURAL organic beeswax candle body scrub lip balm plantbase dye use raw cotton flower patels" class="w-full">
            </div>
        </div>
    </main>
    <!--footer with nav to socialmedia link placeholders-->
    <footer class="bg-green-700">
        <div class="container mx-auto px-4">
            <nav class="flex items-center justify-between flex-wrap bg-green-800 p-6">
                <div class="flex items-center flex-shrink-0 text-white mr-6">
                    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
                    </svg>
                    <h2 class="font-semibold text-xl tracking-tight">AW-SOME</h2>
                </div>
                <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                    <div class="text-sm lg:flex-grow">
                        <a href="/facebook"
                            class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                            Facebook
                        </a>
                        <a href="/instagram"
                            class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                            Instagram
                        </a>
                        <a href="/contact_me" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                            Contact Me
                        </a>
                    </div>
                </div>
                <!--close out my tags-->
        </div>
    </footer>
    </div>
    <!-- plugin javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/login.js"></script>
</body>

</html>