<!DOCTYPE html>
<html lang="en">
  {{> boilerplate }}
  <body>

 
   {{{ body }}}
    </body>
    <!-- plugin javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
    

</body>

   
</html>
