{{> boilerplate }}
  <body>
{{> nav }}
 
    <!--100% width hero and then an about me section thats centered-->
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 p-4">
                <h1 class="text-3xl font-semibold">About Me</h1>
                <p class="text-gray-600 text-lg">
                    Hello and thank you for visiting my website. My name is Alanna Woodward. I am a wife and a "mom" to 4 dogs.  Both my husband and I have full-time jobs and we live in a very small, quiet, lovely town in West Texas.  
                </p> </br>
                <p class="text-gray-600 text-lg">
                    Several years ago I began searching for personal care items made from only natural ingredients.  I had become allergic to many popular brands and didn't know why....honestly my allergies were only going to get worse, I just didn't know it back then. I began creating a few items for myself because I wanted to see if using items made without preservatives would prevent new breakouts, hives and the extreme itching from my newly developed eczema. It turns out, not only did this eliminate new hives and breakouts, the chapsticks were even helpful with soothing the eczema on my hands!  It was a huge personal success.  I work in healthcare and the constant handwashing means my eczema never really goes away, so having a natural way to keep it to a minimum is so helpful.  I still use prescription topical steroid cream for the extreme breakouts, but I'm so happy that is no longer part of my daily routine. 
                </p> </br>
                <p class="text-gray-600 text-lg">
                    Fast forward a couple of years to 2020 and enter the pandemic. Everyone across the country has had to substitute so many supplies, which includes soaps and sanitizers and anything you can think of really.  Whatever new hand sanitizer we were using at my hospital seemed to make my hands become inflammed immediately, so I decided to make my own alcohol-based hand sanitizer.  Again, making my own was so much better for my hands, and it still meets the CDC's guidelines of at least 60% alcohol. Mine is a minimum 65%, exceeding CDC and it helps my hands instead of angering the eczema. 
                </p> </br>
                <p class="text-gray-600 text-lg">
                    Making my own personal care items is so fun and calming, something I truly need during this time of high stress.  I decided to try making other items as well. Most recently I've added beeswax candles, vanilla extract and macarons to my list of creations. These items are fun to make, allow me a creative outlet after stressful work days, and keep me sane. Since my husband and I cannot possibly use all of the items I make fast enough, I'm hoping that other folks can benefit from my fun. 
                </p> </br>
                <p class="text-gray-600 text-lg">
                    I use only natural ingredients and essential oils for flavor and scent and make everything in very small batches.  I'd love to hear your thoughts and experiences after using your purchases. If you have a favorite scent or flavor that I don't have listed, feel free to ask about it.  I sincerely hope you find something that you love and makes you as happy as it makes me to create it for you.
                </p> </br>
                <p class="text-gray-600 text-lg">
                    God bless you, </br>
                    Alanna
                </p> </br>
                <p class="text-gray-600 text-lg">
                    P.S. The beeswax candles have a small amount of organic coconut oil for even melting and the scent is light and relaxing. No soy or paraffin will ever be used in my candles. </br>
                    </br>
                    *Keep an eye out for macarons in the near future. With my new food handler certification, I am excited to be able to offer these soon too!*
                </p>

                
                
            </div>
            <div class="w-full lg:w-1/2 p-4">
                <img src="/assets/img/logo.jpg" alt="hero" class="w-full ">
                <img src="/assets/img/scrub.jpg" alt="hero" class="w-full mt-5">
                <img src="/assets/img/random.jpg" alt="hero" class="w-full mt-5">
            </div>
        </div>
    </div>
  {{> footer }}
    <!-- plugin javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

   
