{{> nav }}
{{> boilerplate }}




<container class="" id="products">
    <div class="flex flex-wrap justify-center">
        {{#each products}}
        <div class=" max-w-sm m-8 ">
            <div class="bg-transparent  rounded-lg shadow-2xl p-4 ">
                <div class="flex flex-col items-center justify-center w-full">
                    <div class="flex flex-col items-center justify-center w-full mb-3">
                        <img class="rounded-full h-64 w-64" src="./assets/img/random1.jpg" alt="">
                    </div>
                    <div class="flex flex-col items-center justify-center w-full">
                        <h1 class="font-bold text-xl text-center text-teal-600">{{name}}</h1>
                        <h2 class="font-bold text-xl text-center text-teal-600">${{price}} ea</h2>
                        <p class=" font-light text-md text-center w">
                            {{!-- {{description}} --}}
                        </p>
                        <div class="flex flex-col items-center justify-center w-full">
                             <a href="/product/{{id}}" class=" font-bold py-2 px-3 block  mb-3 lg:inline-block lg:mt-0 text-white bg-blue-500 hover:bg-blue-700 rounded-full">
            View More Details
          </a>
                        </div>
                        <div class="flex flex-col items-center justify-center w-full">
                            <a href="/products"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                🛒
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</container>



{{> footer }}