{{> boilerplate }}
{{> nav }}

<div class="container mx-auto px-4">
  <div class="flex flex-wrap">
    <div class="w-full md:w-full px-3">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="flex justify-center">
          <img src="/assets/img/logo.jpg" alt="aw-some logo" class="rounded h-75 w-full">
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <form class="login-form container mx-auto px-4">
  <div class="flex flex-wrap">
    <div class="w-full md:w-full px-3">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="email-login">email:</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="text" id="email-login" />
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="password-login">password:</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="password" id="password-login" />
        <button
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">login</button>
      </div>
    </div>
  </div>
</form>

<form class="signup-form container mx-auto px-4">
  <div class="flex flex-wrap">
    <div class="w-full md:w-full px-3">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="username-signup">username:</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="text" id="username-signup" />
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="email-signup">email:</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="text" id="email-signup" />
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="password-signup">password:</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="password" id="password-signup" />
        <button
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">signup</button>
      </div>
    </div>
  </div>
</form> --}}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h2>Create Account</h2>
      <form method="POST" action="/signup"> 
        <div class="form-group">
          <label class="control-label" for="firstName">First Name</label>
          <input class="form-control" name="firstName" id="firstName" required>
        </div>
        <div class="form-group">
          <label class="control-label" for="lastName">Last Name</label>
          <input name="lastName" class="form-control" id="lastName" required>
        </div>
        <div class="form-group">
          <label class="control-label" for="email">Email</label>
          <input name="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
          <label class="control-label" for="pwd">Password</label>
          <input name="pwd" class="form-control" type="password" id="pwd" pattern="[a-zA-Z0-9]{5,}" title="Password must include at least 5 letters/numbers" required>
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </form>
      <p>Back to <a href="/">Home</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h2>User Login</h2>
      <form method="POST" action="/login">
        <div class="form-group">
          <label for="email" class="control-label col-sm-2">Email</label>
          <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="form-group">
          <label for="pwd" class="control-label col-sm-2">Password</label>
          <input class="form-control" name="pwd" type="password" id="pwd" pattern="[a-zA-Z0-9]{5,}" title="Password must include at least 5 letters/numbers" required>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" id="login-submit">Submit</button>
        </div>
      </form>
      <p>New User? <a href="/api/users/login">Login</a></p>
    </div>
  </div>
</div>






{{> footer }}
<!--script for login.js-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/assets/javascript/login.js"></script>