{{> boilerplate }}
{{> nav }}

{{#if loggedIn}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome {{user.username}}</h1>
        </div>
    </div>
</div>

{{else}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome</h1>
        </div>
    </div>
</div>
{{/if}}

{{> footer }}

